@media only screen and (max-width: 1024px) {
  .advantages {
    padding: 32px 0 56px;
    .sub-title{
      margin-bottom: 0;
    }
    .advantages-title{
      max-width: 600px;
      margin: 0 auto;
    }
    .flex-grid.content{
      max-width: 600px;
      margin: 0 auto;
      flex-wrap: wrap;
      padding-left: 15px;
      padding-right: 15px;
      .item{
        margin-top: 45px;
        width: 200px;
      }
    }
  }

}
@media only screen and (max-width: 465px) {
  .advantages .flex-grid.content{
    padding: 0;
  }

  .advantages .flex-grid.content .item{
    width: 100%;
    max-width: 100%;
    margin-top: 35px;
  }
}
