@mixin lib-font-face(
  $family-name,
  $font-path,
  $font-weight: normal,
  $font-style: normal,
  $font-display: auto
) {
  font-family: $family-name;
  src: url('#{$font-path}.woff2') format('woff2');
  src: url('#{$font-path}.woff') format('woff');
  font-weight: $font-weight;
  font-style: $font-style;
  font-display: $font-display;
}
